<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Distance Star Property Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/RHStaging.styles.css" asp-append-version="true">
</head>
<body>
    <header>
        <div class="top-bar bg-dark text-white py-2">
            <div class="container">
                <h1 class="text-center mb-0">Distance Star Property Management</h1>
            </div>
        </div>
        <nav class="menu-bar bg-dark text-white">
            <div class="container">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-page="/About">Schedule</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-page="/PropertyByOwner">Property By Owner</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link custom-link" asp-area="" asp-page="/Owners/Index">Owners</a>
                    </li>
                    <li class "menu-item">
                        <a class="menu-link custom-link" asp-area="" asp-page="/Properties/Index">Properties</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link custom-link" asp-area="" asp-page="/Leases/Index">Leases</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link custom-link" asp-area="" asp-page="/Renters/Index">Renters</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-white">
        <div class="container">
            &copy; 2023 - RH Staging - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
