@page
@model RHStaging.Pages.AboutModel

@{
    ViewData["Title"] = "Leases Statistics";
}

<h2>Leases & Owner Statistics</h2>

<table>
    <tr>

@*      
        <th>
            Lease Start Date
        </th>
 *@
        <th>
            Lease End Date
        </th>

        <th>
            Properties
        </th>
    </tr>

    @foreach (var item in Model.Properties)
    {
        <tr>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.LeaseStartDate)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.LeaseEndDate)
            </td>
            <td>
                @item.PropertyCount
            </td>
        </tr>
    }
</table>