@page
@model IndexModel
@{
    ViewData["Title"] = "Distance Star Property Management Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <div class="card-text">
                    <h2 style="color: blue;">= Distance Star site =</h2>
                    <br />
                    Leverage <span style="background-color: yellow;">ASP .Net Core Web App</span> with Razor Pages and
                    Entity Framework Core, this site empower Real Estate &
                    Property Manager to Create/Read/Update/Delete entities like
                    <p style="color: red;">Owners | Properties | Leases | Renters</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p>
                    <img src="~/Images/NEOM-swimming.jpg" alt="swimming in the ocean" style="width: 400px; height: 300px;">
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p>
                    <img src="~/Images/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg" alt="RealEstate" style="width: 400px; height: 300px;">
                </p>
            </div>
        </div>
    </div>
</div>
