@page
@model RHStaging.Pages.PropertyByOwner

@{
    ViewData["Title"] = "Properties by Owner";
}

<h2>Properties by Owner</h2>

<table>
    <tr>
        <th>
            Owner
        </th>

        <th>
            #Properties 
        </th>
    </tr>

    @foreach (var item in Model.PropsGroupbyOwner)
    {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @item.PropertyCount
            </td>
        </tr>
    }
</table>

<table class="table">
    <thead>
        <tr>
            <th>Total Owners</th>
            <th>Total Properties</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.totalOwnersCount</td>
            <td>@Model.totalPropertiesCount</td>
        </tr>
    </tbody>
</table>